ul{
    list-style: none;
    padding: 0;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: gray;
    text-decoration: underline;
}
.rank-panel{
    margin: 0 10px;
    padding-bottom: 10px;
    border: 1px solid #d9d9d9;
}

.rank-item{
    text-align: left;
    height: 30px;
    display: flex;
    padding: 0 10px;
    background-color: #f6f6f6;
    justify-content: space-between;
    align-items: center;
}
.rank-item:nth-child(2n){
    background-color: #e6e6e6;
}
.page-control{
    width: 24px;
    font-size: 12px;
    float: right;
    cursor: pointer;
}
.icon-wrap{
    visibility: hidden;
}
.rank-item:hover .icon-wrap{
    visibility: visible;
}
.icon{
    cursor: pointer;
}


